{% extends "peliculas/base.html" %}
{% block head %}
<script>
    $(document).ready(function(){
    $(".elegir").click(
            function(event) {
                event.preventDefault();
                var $boxes = $(this).parent().children();
                $boxes.removeClass("selected");
                $(this).addClass("selected");
                $(this).find(":radio").attr("checked","checked");
            }
    );

    $(".elegir").hover(
        function () {
            $(this).addClass("hover");
        },
        function () {
            $(this).removeClass("hover");
        }
    );
    });
</script>
{% endblock %}
{% block contenido %}
    <article>
    {% if apartado == 0 %}
        <form id="buscarpelicula" action="{% url 'peliculas.views.add' %}" method="post">
            {% csrf_token %}
            <label>Título</label><input type="text" name="nombre" />
            <input type="hidden" name="apartado" value="1" />
            <button type="submit">Buscar</button>
        </form>
    {% endif %}

    {% if apartado == 1 %}
        <form action="{% url 'peliculas.views.add' %}" method="post">
            {% csrf_token %}
            {% for res in resultados %}
                <div class="elegir">
                <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ res.id }}" style="display: none;"/>
                <img src="{{ res.imagen }}" />
                <span class="titulo">{{ res.titulo }}</span>
                <span>{{ res.direccion }}</span>
                <span>{{ res.reparto }}</span>
                </div>
            {% endfor %}
            <input type="hidden" name="apartado" value="2" />
            <input class="boton" type="submit" value="Continuar" />
        </form>
    {% endif %}

    {% if apartado == 2 %}
            <h2>Añadir Película</h2>

        <form id="addpelicula" action="{% url 'peliculas.views.add' %}" method="post">
            {% csrf_token %}
            <div class="tabla">
                <div class="col">
                    <label>Título</label><input type="text" name="titulo" value="{{ info.titulo }}"/>
                    <label>Año</label><input type="text" name="anno" value="{{ info.anno }}"/>
                    <label>Director</label><input type="text" name="direccion" value="{{ info.director }}"/>
                    <label>Guión</label><input type="text" name="guion" value="{{ info.guion }}"/>
                    <label>Reparto</label><input type="text" name="reparto" value="{{ info.reparto }}"/>
                    <label>Géneros</label><input type="text" name="genero" value="{{ info.genero }}"/>
                    <label>Póster</label><input type="text" name="poster" value="{{ info.poster }}"/>
                </div>
                <div class="col">
                    <label>Título original</label><input type="text" name="titulo_o" value="{{ info.titulo_o }}"/>
                    <label>Duración</label><input type="text" name="duracion" value="{{ info.duracion }}"/>
                    <label>País</label><input type="text" name="pais" value="{{ info.pais }}"/>
                    <label>Música</label><input type="text" name="musica" value="{{ info.musica }}"/>
                    <label>Fotografía</label><input type="text" name="fotografia" value="{{ info.fotografia }}"/>
                    <label>Producción</label><input type="text" name="productora" value="{{ info.productora }}"/>
                    <label>Web</label><input type="text" name="web" value="{{ info.web }}"/>

                </div>
            </div>
            <div style="display: block; margin-left: 10px;">
                <label>Sinopsis</label><textarea name="sinopsis" cols="45" rows="7">{{ info.sinopsis }}</textarea>

            <label>Categoría</label><select name="categoria">{% for c in cat %}<option value="{{ c.id }}">{{ c.nombre }}</option> {% endfor %}</select>
            <input type="hidden" name="apartado" value="3" />
            <button class="boton" type="submit">Añadir</button>
            </div>
        </form>
    {% endif %}
    </article>
{% endblock %}