{% extends "peliculas/base.html" %}
{% load peliculas_extras %}
{% block head %}
    <script type="text/javascript" src="/site_media/jquery.rateit.min.js"></script>
    <script type="text/javascript" src="/site_media/vista.js"></script>
    <link rel="stylesheet" href="/site_media/rateit.css" type="text/css" media="screen" />
{% endblock %}
{% block contenido %}
    <article>
        <div class="lateral">
            <a class="lightbox" title="{{ item.titulo }}" href="/site_media/posters/{{ item.poster }}">
                <img src="/site_media/posters/thumbs/{{ item.poster }}" width="100px" alt=""></a>
            <br />
            <div id="votar">
                <div id="vista">
                    {% if user.is_authenticated %}
                        <label for="{{ item.id }}">Vista</label>
                        {% if item|vista:user.id %}
                            <input type="checkbox" id="{{ item.id }}" class="regular-checkbox" checked="checked"/>
                        {% else %}
                            <input type="checkbox" id="{{ item.id }}" class="regular-checkbox"/>
                        {% endif %}
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                    <div data-peliculaid="{{ item.id }}" class="rateit" id="rateit{{ item.id }}" data-rateit-step="0.5"  data-rateit-value="{% votos item.id %}"></div>
                {% else %}
                    <div data-peliculaid="{{ item.id }}" class="rateit" id="rateit{{ item.id }}" data-rateit-readonly="true" data-rateit-step="0.5"  data-rateit-value="{% votos item.id %}" style="padding-left: 16px;"></div>
                {% endif %}
            </div>
        </div>
        <div class="principal">
            <div class="titulo">{{ item.titulo }} ({{ item.anno }})</div>{% if user.is_staff %}<div class="edit"><a href="{% url 'admin:peliculas_pelicula_change' item.id %}"><img alt="Editar" src="/site_media/images/edit.png"></a></div>{% endif %}
            <div class="parte"><b>DURACIÓN:</b> {{ item.duracion }} minutos.</div>
            <div class="parte"><b>PAÍS:</b> {{ item.pais }}</div>
            <div class="parte"><b>DIRECTOR:</b>	{% for r in item.direccion.all %}<a href="{% url 'profesionales.views.detail' r.id %}">{{r.nombre}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            <div class="parte"><b>GUIÓN:</b> {% for r in item.guion.all %}<a href="{% url 'profesionales.views.detail' r.id %}">{{r.nombre}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            <div class="parte"><b>MÚSICA:</b> {% for r in item.musica.all %}<a href="{% url 'profesionales.views.detail' r.id %}">{{r.nombre}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            <div class="parte"><b>FOTOGRAFÍA:</b> {% for r in item.fotografia.all %}<a href="{% url 'profesionales.views.detail' r.id %}">{{r.nombre}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            <div class="parte"><b>PRODUCCIÓN:</b> {{ item.produccion }}</div>
            <div class="parte"><b>GENERO:</b> {% for r in item.genero.all %}{{r.nombre}}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            <div class="parte"><b>REPARTO:</b> {% for r in item.reparto.all %}<a href="{% url 'profesionales.views.detail' r.id %}">{{r.nombre}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            <div class="parte"><b>SINOPSIS:</b> {{ item.sinopsis }}</div>
        </div>
        <div class="clear"></div>
    </article>
{% endblock %}