{% extends "peliculas/base.html" %}
{% load peliculas_extras %}
{% block head %}
    <script type="text/javascript" src="/site_media/vista.js"></script>
{% endblock %}
{% block contenido %}
    <article>
        <div class="lateral">
            <a class="lightbox" title="{{ item.titulo }}" href="/site_media/posters/{{ item.poster }}">
                <img src="/site_media/posters/thumbs/{{ item.poster }}" width="100px" alt=""></a>
            <br />
            <center>
                {% if user.is_authenticated %}
                    {% if item|vista:user.id %}
                        <input id="{{ item.id }}" type="image" title="Marcar como no vista" alt="Visto" src="/site_media/images/button_cancel.gif">
                    {% else %}
                        <input id="{{ item.id }}" type="image" title="Marcar como vista" alt="Visto" src="/site_media/images/button_ok.gif">
                    {% endif %}
                {% endif %}
            </center>
        </div>
        <div class="principal">
            <div class="titulo">{{ item.titulo }} ({{ item.anno }})</div>
            <div class="parte"><b>DURACIÓN:</b> {{ item.duracion }} minutos.</div>
            <div class="parte"><b>PAÍS:</b> {{ item.pais }}</div>
            <div class="parte"><b>DIRECTOR:</b>	{% for r in item.direccion.all %}<a href="{% url profesionales.views.detail r.id %}">{{r.nombre}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            <div class="parte"><b>GUIÓN:</b> {% for r in item.guion.all %}<a href="{% url profesionales.views.detail r.id %}">{{r.nombre}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            <div class="parte"><b>MÚSICA:</b> {% for r in item.musica.all %}<a href="{% url profesionales.views.detail r.id %}">{{r.nombre}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            <div class="parte"><b>FOTOGRAFÍA:</b> {% for r in item.fotografia.all %}<a href="{% url profesionales.views.detail r.id %}">{{r.nombre}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            <div class="parte"><b>PRODUCCIÓN:</b> {{ item.produccion }}</div>
            <div class="parte"><b>GENERO:</b> {% for r in item.genero.all %}{{r.nombre}}{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            <div class="parte"><b>REPARTO:</b> {% for r in item.reparto.all %}<a href="{% url profesionales.views.detail r.id %}">{{r.nombre}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</div>
            <div class="parte"><b>SINOPSIS:</b> {{ item.sinopsis }}</div>
        </div>
        <div class="clear"></div>
    </article>
{% endblock %}