{% extends "peliculas/base.html" %}
{% load peliculas_extras %}
{% block head %}
    <script type="text/javascript" src="/site_media/vista.js"></script>
    <script type="text/javascript" src="/site_media/jquery.tablesorter.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() 
            { 
                $("#myTable").tablesorter( {sortList: [[0,0]]} ); 
            } 
        );
    </script>
{% endblock %}
{% block contenido %}
    <form action="{%  url 'peliculas.views.tabla' %}" method="get">{% csrf_token %}
		{{ filtro.genero.label_tag }}: {{ filtro.genero }}
        {{ filtro.pais.label_tag }}: {{ filtro.pais }}
        {{ filtro.formato.label_tag }}: {{ filtro.formato }}
	    {% if user.is_authenticated %}
	        {{ filtro.vistas.label_tag }}: {{filtro.vistas}}
	    {% endif %}
    </form>
    
    <table id="myTable" class="tablesorter"> 
        <thead> 
            <tr> 
                <th>Título</th> 
                <th>Direccion</th> 
                <th class="anno">Año</th> 
            </tr> 
        </thead> 
        <tbody> 
        {% for item in lista %}
            <tr>
                <td><a href="{% url 'peliculas.views.detail' item.id %}">{{ item.titulo }}</a></td>
                <td>{% for r in item.direccion.all %}<a href="{% url 'profesionales.views.detail' r.id %}">{{r.nombre}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                <td class="anno">{{ item.anno }}</td>
            </tr>
        {% endfor %}
        </tbody> 
    </table>
{% endblock %}