html {
    height:100%;
}
body {
    width:980px;
    /*text-align:center; /* for IE */
    margin:0 auto; /* for the rest */
    background:url(images/bg.jpg);
    height: 100%;
    font: 12px "Helvetica Neue",Arial,sans-serif;
}

header {
    display: table;
    float:left;
    width:100%;
    height: 50px;

    background: rgb(69,72,77);
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );

    -moz-box-shadow: 0px 3px 5px #666;
    -webkit-box-shadow: 0px 3px 5px #666;
    box-shadow: 0px 3px 5px #666;

    border-radius: 5px;

    margin-top:10px;
	overflow: auto;
	
}

#titulo {
	display:table-cell;
	table-layout:auto;
	width:160px;
	position:relative;
	top:5px;
}

#titulo h1 {
	
    /*float:left;*/
    
/*padding: 5px 0px 0 20px;*/
    font: 32px 'Lobster', serif;
    color: #ff7b0d;
	margin: 0px 0px 0px 20px;
}

header #buscar {
    /*float:left;*/
	
    /*padding-top: 14px;*/
	/*overflow: hidden;*/
	
    display:table-cell;
	table-layout:fxed;
	margin-top:0px;
	margin-bottom:0px;
	
	position:relative;
	right: 0px;
}

header #buscar input {
    background: url(images/search-dark.png) no-repeat 8px 4px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 13px Arial,Helvetica,Sans-serif;
    color: #585858;
    width: 200px;
    padding: 6px 15px 6px 35px;
    height:10px;

    /*-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;*/

    /*text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);*/

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;

    /*-webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;*/

    outline: none;
}

/*header #buscar input:focus {
    width:200px;
}*/

nav {
	width: 400px;
}

nav ul {
	display:table-cell;
	table-layout:auto;
    list-style-type:none;
	left:-50px;
	position:relative;
}

nav li {
    background: rgb(69,72,77);
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );

    /*float: left;*/
    list-style: none;
    padding-top:15px;
    height:35px;
    display: inline-block;
}

nav li:hover{
    background: rgb(255,168,76);
    background: -moz-linear-gradient(top,  rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,168,76,1)), color-stop(100%,rgba(255,123,13,1)));
    background: -webkit-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 );


    /*box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
     -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
     -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;

     -moz-transition:0.25s all;
     -webkit-transition:0.25s all;
     -o-transition:0.25s all;
     transition:0.25s all;*/
}


nav li a {
    /*margin-right:10px;
     margin-left:10px;*/


    color: #F8F8F8;
    /*display: inline-block;*/
    font: 20px/1 Lobster,Arial,sans-serif;
    padding: 0px 15px;
    /*position: relative;*/
    /*text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);*/
    /*z-index:2;*/
    text-decoration:none !important;
    white-space:nowrap;
}

nav li a:hover {
    color: #000;
}

header #login {
    float:right;
    display:table-cell;
	table-layout:fixed;
    margin-right:30px;
	
	margin-top:5px;
    color:#fff;
    text-decoration:none !important;
	
	position:relative;
	top:3px;
}

header #login a {
    font:bold 14px Times, serif;
    color:#fff;
    text-decoration:none;

}

header #login a:hover {
    color:#ff7b0d;
}

#contenido {
    /*margin-top:30px;*/
    background:#fff;

    min-height:100%;

    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);

    overflow: auto;
}

div.clear { clear: both; }

section {
    background:#F8F8F8;
    margin:30px 40px 30px 40px;

}

.filtro {
    padding-top: 10px;
    padding-bottom: 15px;
	text-align: center;
}

section .pagination{
    padding-bottom:10px;
	text-align: center;
}

section .pagination a{
    font: normal 18px Georgia, Arial, Helvetica, sans-serif;
    text-decoration:none;
    color:#333;
}

article {
    padding:10px 10px 30px 10px;

    background: rgb(247,247,247); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(247,247,247,1) 0%, rgba(246,246,246,1) 15%, rgba(255,255,255,1) 90%, rgba(247,247,247,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(15%,rgba(246,246,246,1)), color-stop(90%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(246,246,246,1) 15%,rgba(255,255,255,1) 90%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(246,246,246,1) 15%,rgba(255,255,255,1) 90%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(247,247,247,1) 0%,rgba(246,246,246,1) 15%,rgba(255,255,255,1) 90%,rgba(247,247,247,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(247,247,247,1) 0%,rgba(246,246,246,1) 15%,rgba(255,255,255,1) 90%,rgba(247,247,247,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

article img {

    border: 1px solid #DDD;
    padding: 5px;

}

.lateral {
    float: left;
    width: 120px;
    margin-right:10px;
}

.principal {
    float:left;
    display: inline;
    width:750px;
}

.titulo {
    color:#A50336;
    font: bold 20px Arial, Helvetica, sans-serif;
}

.titulo a{
    color:#A50336;
    font: bold 20px Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.titulo a:hover{
	text-decoration: underline;
}

.parte {
    margin-top:10px;
}

.parte a {
	color: #333;
	text-decoration: none;
}

.parte a:hover {
	color: #A50336;
	text-decoration: underline;
}

/*
	Ventanas emergentes
*/


#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#signup {
	width: 404px;
	padding-bottom: 2px;

	display:none;

	background: #FFF;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

#registro {
	width: 404px;
	padding-bottom: 2px;

	display:none;

	background: #FFF;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

.signup-header { 
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

	padding: 1px 18px 14px 18px; 
	border-bottom: 1px solid #CCC; 
	border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; 
	border-top-right-radius: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; 
}

.signup-header  h2 { 
	color: #444; 
	font-size: 2em; 
	font-weight: 700; 
	margin-bottom: 3px; 
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); 
}
.signup-header  p { 
	color: #444; 
	font-size: 1.3em; 
	margin: 0; 
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5); 
	text-shadow: none; 
}

.signup-ct .txt-fld { position: relative; width: 364px; padding: 14px 20px; border-bottom: 1px solid #EEE; text-align: right; }
.signup-ct .btn-fld { width: 254px; overflow: hidden; padding: 12px 20px 12px 130px; }

.signup-ct .txt-fld label { display: block; float: left; width: 90px; padding-top: 8px; color: #222; font-size: 1.3em; text-align: left;  }
.signup-ct .txt-fld input { width: 244px; padding: 8px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-size: 1.2em; color: #222; background: #F7F7F7; font-family: "Helvetica Neue"; outline: none; border-top: 1px solid #CCC; border-left: 1px solid #CCC; border-right: 1px solid #E7E6E6; border-bottom: 1px solid #E7E6E6; }
.signup-ct .txt-fld input.good_input { background: #DEF5E1 url(images/good.png) 236px center no-repeat; }
.signup-ct .txt-fld input.error_input { background: #FDE0E0; }

p.error { position: absolute; bottom: 48px; right: 20px; width: 262px; color: #FFF; font-size: 1.1em; padding-bottom: 5px; background: url(images/error-arw.png) 20px bottom no-repeat; text-align: left; margin: 0; text-shadow: none; }
p.error span { display: inline-block; background: #D43636; padding: 6px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;  }
.txt-fld input:focus, .txt-fld textarea:focus { background-color: #FAF9DC; }
        
.boton {
	float: right;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #3F9D4A; 
	border: none;
	width: auto;
	overflow: visible;
	font-size: 1.4em;
	color: #FFF;
	padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);}
        
.modal_close { position: absolute; top: 12px; right: 12px; display: block; width: 14px; height: 14px; background: url(images/modal_close.png); z-index: 2; }


/*
	Autocompletar
*/
#suggestions{ position: absolute; width:252px; display:none; 
	/*-webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;*/
}

.ac_results{overflow:hidden;z-index:99999;margin:0;padding:0;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.7);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.7);
}
.ac_results ul{list-style-position:outside;list-style:none;background:#f5f5f5;margin:0;padding:5px 10px 10px}
.ac_results li{cursor:pointer;display:block;overflow:auto;margin:0;padding:0;border-top:1px solid #e1e1e1;}
.ac_results li:first-child{border:0;}
.ac_results li a{display:block; overflow:auto; padding:10px; color:#2c2c2c;}
.ac_results li a:hover{color:#000}
.ac_results li:hover{background-color:#FFFFF0;color:#fb0}
.ac_results li a img{width:40px; height:auto; max-height:50px;float:left; margin-right:15px;}

#addpelicula label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
	font-weight: bold;
	font-size:1.1em;
}

#addpelicula input, textarea {
    width:400px;
    height:20px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:1em;
    color:#3a3a3a;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
	
	outline:none;
}

#addpelicula textarea {
	height:150px;
	width:840px;
}

#addpelicula input:focus, textarea:focus {
    border:1px solid #97d6eb;
	color:#000;
}

#buscarpelicula label {
    margin-top:20px;
	margin-right:10px;
    letter-spacing:1px;
	font-weight: bold;
	font-size:1.1em;
}

#buscarpelicula input {
    width:700px;
    height:20px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:1em;
    color:#3a3a3a;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
	margin-right:15px;
	outline:none;
}

#buscarpelicula input:focus {
    border:1px solid #97d6eb;
	color:#000;
}

#buscarpelicula button {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: #3F9D4A; 
	border: none;
	width: auto;
	overflow: visible;
	font-size: 1.4em;
	color: #FFF;
	padding: 7px 10px;  border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; font-weight: bold; text-shadow: 0 1px 0 rgba(0,0,0,0.4);}

.tabla {
	display: table;
	width: 100%;
	margin-left:10px;
}

.col {
	display: table-cell;
	table-layout:fixed;
}


.carousel {
    margin: 0 0 30px 0;
    width: 600px;
    position:relative;
    padding-left: 40px;
    z-index: 10;
}

.carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

.carousel li {
    font-size: 40px;
    color: #999;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
    position:relative;
}

.carousel img {
    background-color: white;
    padding: 1px;
    margin: 7px;
    display: block;
    float: left;
    height: 120px;
    width: auto;
    border: 5px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    -moz-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #777;
}
.prev, .next {
    margin-left: 10px;
    width:15px;
    height:21px;
    display:block;
    text-indent:-999em;
    background: transparent url('images/carousel_control.png') no-repeat 0 0;
    position:absolute;
    top:70px;
}
.prev {background-position:0 0;
    left:-4px; }
.prev:hover {left:-5px; }
.prev.disabled {	background-position: 0 -100px !important;  }
.next {
    background-position: -18px 0;
    right:-30px;
}
.next:hover { right:-31px; }
.next.disabled {	background-position: -50px -100px !important;  }
.prev.disabled, a.next.disabled {
    cursor: default;
}

.prev span, a.next span {
    display: none;
}
.pagination {
    text-align: center;
}
.carousel .pager {
    margin:0 auto;
    text-align: center;
}

.carousel .pager a {
    margin: 0 5px 0 0;
    text-decoration: none;
    display:inline-block;
    width:8px;
    height:8px;
    background: transparent url('images/carousel_control.png') no-repeat -2px -32px;
    text-indent:-999em;
}
.carousel .pager a.selected {
    text-decoration: underline;
    background: transparent url('images/carousel_control.png') no-repeat -12px -32px;
}
.clearfix {
    float: none;
    clear: both;
}