<div class="pagination">
    {% if lista.has_previous %}
        <a class="page-numbers" href="?page={{ lista.previous_page_number }}&ordenar={{ ordenar }}&genero={{ genero }}&pais={{ pais }}&formato={{ formato }}&vistas={{ vistas }}">Anterior</a>
    {% endif %}

    {% if lista.page_range_data.show_first %}
        <a class="page-numbers" href="?page=1&ordenar={{ ordenar }}&genero={{ genero }}&pais={{ pais }}&formato={{ formato }}&vistas={{ vistas }}">1</a>
        <span class="page-numbers dots">&hellip;</span>
    {% endif %}
    {% for i in lista.page_range_data.page_range %}
        {% ifequal i lista.number %}
            <span class='page-numbers current'>{{ i }}</span>
        {% else %}
            <a class="page-numbers" href="?page={{ i }}&ordenar={{ ordenar }}&genero={{ genero }}&pais={{ pais }}&formato={{ formato }}&vistas={{ vistas }}">{{ i }}</a>
        {% endifequal %}
    {% endfor %}
    {% if lista.page_range_data.show_last %}
        <span class="page-numbers dots">&hellip;</span>
        <a class="page-numbers" href="?page={{ lista.paginator.num_pages }}&ordenar={{ ordenar }}&genero={{ genero }}&pais={{ pais }}&formato={{ formato }}&vistas={{ vistas }}">{{ lista.paginator.num_pages }}</a>
    {% endif %}
    {% if lista.has_next %}
        <a class="page-numbers" href="?page={{ lista.next_page_number }}&ordenar={{ ordenar }}&genero={{ genero }}&pais={{ pais }}&formato={{ formato }}&vistas={{ vistas }}">Siguiente</a>
    {% endif %}
</div>